html{
    box-sizing: border-box;
    font-size: 100%;
    background-color: rgb(177, 162, 162);
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Sofia", sans-serif;

}

#map{
    height: 90vh;
    width: 100%;
}
.center {
    margin: auto;
    width: 90%;
    border: 10px solid beige;
    padding: 10px;
  }
  .centerx{
    margin: auto;
    width: 100%;
    border: 10px solid beige;
    padding: 10px;
  }